{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<html>
<head>
  <title>Changing Styles</title>

  
    <center> 
        <img src="https://i.pinimg.com/originals/54/32/c3/5432c342aff77cc4e659934c31c5d6e3.png">
  
        <ul>
        {% for post in listado %}
            <li>
                {{ post.text }}
            </li>
            <li>
              {{ post.descripcion }}
          </li>
            {% endfor %}
        </ul>   

      <p style="color:darkred; font-size:100px">Changing Styles</p>
      <p style="color:darkturquoise; font-size:100px">Patricia Garcia Almanza</p>
      <img src="https://img.peru21.pe/files/ec_article_multimedia_gallery/uploads/2018/07/11/5b46c5b17cdb8.jpeg">
      
    </center>
  
</head>
</html>



{% endblock content %}
